/* page.module.css */
@font-face {
    font-family: 'Sackers Gothic Light AT'; /* Use quotes for names with spaces */
    src: url('./fonts/Sackers\ Gothic\ Light\ AT\ Regular.otf') format('opentype');
    font-weight: normal; /* Define weight if necessary */
    font-style: normal; /* Define style if necessary */
  }
  
  .customFont {
    font-family: 'Sackers Gothic Light AT', sans-serif; /* Apply the font-family */
  }
  